---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Stalyn Alfredo Londo Duchi. Soy <strong>Ingeniero en Software</strong> de Riobamba, Ecuador 🇪🇨. Apasionado por la tecnología y el desarrollo de aplicaciones web centradas en la innovación.
    </p>

    <p>
      He desarrollado proyectos con <strong>Python, Django, PHP y Laravel</strong>, integrando APIs y utilizando tecnologías modernas. También tengo experiencia en bases de datos, control de versiones con Git/GitHub y herramientas de desarrollo colaborativo.
    </p>

    <p>
      Como <strong>Investigador Practicante</strong> colaboré con el Grupo de Investigación en Turismo Inteligente de la ESPOCH, donde diseñé un sistema de reservas con chatbot integrado usando Dialogflow. Además, he trabajado como <strong>Técnico en Redes</strong> y como <strong>Tutor Académico</strong>, compartiendo conocimiento con estudiantes en programación, redes y matemáticas.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt="Foto de Stalyn Alfredo Londo Duchi" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" style="object-position: 50% 50%">
</article>


